
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $("#kosik").addClass("active");
</script>

<h2>Obsah kosiku</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Pizza</th>
        <th>Mnozstvi</th>
        <th>Celkem</th>
        <th></th>
    </tr>
    </thead>
</table>

<button class="btn btn-success">Dokoncit objednavku</button>

